{% extends 'base.html' %}
{##}

{% block title %}
    This is a test page
{% endblock %}



{% block body %}
    <h1>It is a test page!</h1>

<div class="row">
  <div class="col"> href=""{{ url_for('') }} </div>
  <div class="col">col</div>
  <div class="w-100"></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="w-100"></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="w-100"></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="w-100"></div>
  <div class="col">col</div>
  <div class="col">col</div>
  <div class="w-100"></div>
  <div class="col">col</div>
  <div class="col">col</div>
</div>
    <!-- Background image -->
{#<div#}
{#  class="bg-image"#}
{#  style="#}
{#    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.jpg');#}
{#    height: 100vh;#}
{#  "#}
{#></div>#}
<!-- Background image -->

{% endblock %}
