<!doctype html>
<html lang="en">
<title>
    {% block title %}
        Default title
    {% endblock %}
</title>

<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">

        <!-- Bootstrap JS -->
        <script> src = "{{ url_for('static',filename='js/bootstrap.bundle.min.js')}}"</script>

        {#    font    #}
        <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
{#        <link rel="stylesheet" href="{{ url_for('static',filename='fonts/SquadaOne-Regular.ttf') }}">#}
{#        <link rel="stylesheet" href="{{ url_for('static',filename='fonts/DaddyTimeMono_Nerd_Font_Complete.ttf') }}">#}

        {#   default font style   #}
        <style>
            html {
                font-family: Sofia, serif;
                font-size: 22px;
                background-color: aliceblue;
            }

            h1 {
                background-color: crimson;
            }

            a {
                text-decoration: none;
            }
        </style>
        <title> a title?</title>
    {% endblock %}
</head>



<body>

{# nav bar #}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="{{ url_for('about') }}"
                   class="nav-link {% if request.endpoint == 'about' -%}active{%- endif %}"
                >
                    About
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    {% block body %}

    {% endblock %}
</div>
</body>

</html>
