<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
{#    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">#}

    <!-- Bootstrap JS -->
{#    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>#}

    <title>
      {% block title %}
        Base
      {% endblock %}
    </title>
  </head>
  <body>
    {# nav bar #}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a href="{{ url_for('about') }}"
               class="nav-link {% if request.endpoint == 'about' -%}active{%- endif %}"
            >
              About
            </a>
          </div>
        </div>
      </div>
    </nav>

    {# main body #}
    <div class="container">
      {% block body %}
        Hello base!
      {% endblock %}
    </div>
  </body>
</html>
