<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some title </title>
</head>
<body>
<h1> Some text</h1>
<h2>Current stocks list:</h2>
<ul>
    {% for item in stocks %}
    <li>
        stock's ticker is {{item.ticker}} and its current price is
        {{item.current_price}}, p/e is {{item.financials.pe}}, p/b is {{item.financials.pb}},
        prices history: at {{item.prices.container.key_data}} price was {{item.prices.container.value_price}}
    </li>
    {% endfor %}
</ul>
</body>
</html>
