{% extends 'stocks/base.html' %}

{% block title %}
    this is an stock remove page
{% endblock %}


{% block body %}
    <h1> Here you can remove a stock, please enter a ticker</h1>
    <div>
        <h1>Remove a stock</h1>
        <form method="post">
            <label for="stock_ticker">Stock ticker:</label>
            <input
                    id="stock_ticker_input"
                    name="stock_ticker"
                    type="text"
                    lang="en"
                    placeholder="NVDA"
                    required
            >
            <button type="submit">Remove</button>
        </form>
    </div>
    <div>
        <h1> Here you can see all the stocks</h1>
        <ul>
            {% for stock in stocks %}
                {#            n,name = ticker#}
                <li> Stock №{{ loop.index }}, ticker: {{ stock.name }} its last prices: {{ stock.price }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
